$bgLight: rgb(136, 146, 176);
$bgDark: #0a192f;

// Text
$mainColor: #a8b2d1;
$primaryColor: rgb(100, 255, 218);

/* Colors */
$primary: #1a253f;
$dark: #111;
$secondary: #2b55cc;
$info: #4d79f6;
$ternary: #848db3;
$pure: #eff2f9;
$fade: #7081b9;
$mild: #8997bd;
$footer: #212a4a;
$black: #060b1b;
$twitter: #4ac7ec;
$dribble: #ff5da0;
$success: #1ecab8;
$danger: #f1646c;
$darkBlue: #28365f;
$darkGray: #171f33;
$yellow: #f3c74d;

@mixin easeInOut {
  transition: all 0.5s ease-in-out;
}
