#navbar {
  width: 100vw;
  height: 60px;
  top: 0px;
  z-index: 50;
  background: $bgDark;
  box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.3);
  position: sticky;
  opacity: 0.9;
  display: flex;
  animation: appearFromTop 1.2s ease-in;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 95%;
  margin: 0 auto;

  .nav {
    &-logo {
      height: 50px;
      width: 50px;
      cursor: pointer;
      outline: none;

      img {
        outline: none;
        width: 100%;
        width: 42px;
        z-index: 10;
        transform: translateY(-115%);
        outline: none;
      }

      svg {
        z-index: -1;
        transform: translateX(-8%);
        outline: none;
      }
    }

    &-menu {
      display: flex;

      .menu-btn {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        // padding-top: 25px;
        align-items: center;
        transition: all 1s linear;

        a {
          transition: all 500ms ease-in;
          padding: 0rem 0.7rem;
          font-size: 1rem;
          font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
            monospace;
          color: $mainColor;
          cursor: pointer;
          transition: all 0.5s linear;
          border-bottom: 2px solid transparent;
          position: relative;
          color: rgb(204, 214, 246);

          &:hover::after {
            transform: scaleX(1);
            transform-origin: right;
          }

          &:last-child:hover::after {
            transform: scaleX(0);
          }

          &::after {
            position: absolute;
            transition: all 250ms ease-in;
            content: "";
            left: 0;
            bottom: -5px;
            width: 90%;
            transform: scaleX(0);
            transform-origin: left;
            height: 1px;
            background: $primaryColor;
          }
        }

        // li {
        //   border: none;
        //   margin: 0.2rem;

        //   &:hover {
        //     border: none;
        //   }
        // }
      }
    }
  }
}
